#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid var(--dark-grey);
  border-radius: 4px;
}

#html-code {
  padding: 1em;
  flex-basis: 40%;
  overflow-y: scroll;
  height:75vh;
}

#typescript-code {
  padding: 1em;
  flex-basis: 60%;
  overflow-y: scroll;
  height: 75vh;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: var(--white);
}

/* Add a thumb */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--dark-grey);
}