/* You can add global styles to this file, and also import other style files */
@import '../node_modules/highlight.js/styles/default.css';
:root {
	--white: #FFFFFF;
	--grey: #EFEFEF;
	--dark-grey: #8f8f8f;
	--blue: #1f75fe;
}

body {
	font-family: 'Open Sans', sans-serif;
}
